/*ANA Colors(Army Navy Aero)*/

$anaBlue:#09568d;
$anaInsigniaBlue:#172035;
$anaOxygenTankGreen:#457725;
$anaOliveDrab:#686b69;
$anaLemonYellow:#ffbb00;
$anaOrangeYellow:#f8a300;
$anaAircraftCream:#f0c282;
$anaAviationOrange:#ce3500;
$anaInsigniaRed:#901E1D;
$anaMaroon:#421814;
$anaInsigniaWhite:#f0e9ee;
$anaAircraftGray:#a2a7ad;
$anaEngineGray:#47484a;
$anaInstrumentBlack:#1c1d22;
$anaBlack:#0b0b0d;
$anaStrataBlue:#122b3e;
$anaAircraftWhite:#f1eaee;
$anaLightGray:#b0aaad;
$anaGunshipGray:#5b5e6a;
$anaNavyBlack:#343236;
$anaAircraftInsigniaBlue:#363848;
$anaAircraftSeaBlue:#262f39;
$anaSeaBlue:#373a42;
$anaNavyBlue:#646e83;
$anaAzureBlue:#7284b7;
$anaSky:#acac9a;
$anaInteriorGreen:#65623c;
$anaGunshipGreen:#46554f;
$anaDarkOliveDrab:#4d4c30;
$anaAircraftYellow:#ffaa07;
$anaTan:#a98652;
$anaDesertSand:#b19083;
$anaFieldDrab:#705a43;
$anaDullRed:#874840;
$anaAircraftRed:#a0333a;
$anaLightGullGray:#acaca4;
$anaAircraftGray:#7e7e87;
$anaAircraftBlack:#383839;
$anaTealBlue:#002d30;
$anaMediumGreen:#635d41;
$anaSeaPlaneGray:#4b4c50;
$anaSemiGlossWhite:#f2ebf0;
$anaFieldGreen:#575c45;
$anaSierraTan:#987563;
$anaForestGreen:#46554f;
