/*Gretchen Albrecht-Golden Cloud*/

$gcDarkBlue:#171635;
$gcBlue:#00225D;
$gcPurple:#763262;
$gcDarkGold:#CA7508;
$gcLightGold:#E9A621;

/*sachin NiceBlue*/

Blue1:#EDF4FB;
$Blue2:#C2DBF0;
$Blue3:#85B7E2;
$Blue4:#4992D3;
$Blue5:#296CA8;
$Blue6:#1A456B;
$Blue7:#153755;
$Blue8:#102940;

/*MonochromaticBlue Poster Colors*/

$Bl:#0CA7D3;
$B2:#0A99C3;
$B3:#0084AB;
$B4:#0785AB;
$B5:#044C62;

/*Skype Color Palette*/

$skype1:#00aff0;
$skype2:#e4eef2;
$skype3:#75ab00;
$skype4:#555756;
$skype5:#2b5464;

/*Viber Color Palette*/

$viber1:#59267c;
$viber2:#8f5db7;
$viber3:#805BA4;
$viber4:#A88CBF;
$viber5:#F3EFF6;
$viber6:#A2A2A2;
$viber7:#e2d4e7;
$viber8:#a5cfd5;
$viber9:#81cd50;
$viber10:#000000;
