/*Camouflage Colors*/

$camoBrown:#594d45;
$camoRed:#79533d;
$camoOlive:#595142;
$camoField:#745d46;
$camoEarth:#ac7e54;
$camoSand:#a9947b;
$camoTan:#b49d80;
$camoSandstone:#bcab90;
$camoDarkGreen:#535640;
$camoForest:#54504b;
$camoLightGreen:#63613e;
$camoGreen:#4a5444;
$camoDarkGray:#5c5c5b;
$camoGray:#9495a5;
$camoBlack:#373538;
