/*FashionColors 2017*/

$fashionGreenery:#92B558;
$fashionGrenadine:#DC4C46;
$fashionTawnyPort:#672e3b;
$fashionBalletSlipper:#f3d6e4;
$fashionButterum:#c48f65;
$fashionNavyPeony:#223a5e;
$fashionNeutralGray:#898e8c;
$fashionShadedSpruce:#005960;
$fashionGoldenLime:#9c9a40;
$fashionMarina:#578CA9;
$fashionAutumnMaple:#d2691e;
$fashionNiagara:#578CA9;
$fashionPrimroseYellow:#f6d155;
$fashionLapisBlue:#004b8d;
$fashionFlame:#f2552c;
$fashionIslandParadise:#95dee3;
$fashionPaleDogwood:#edcdc2;
$fashionPinkYarrow:#ce3175;
$fashionKale:#5a7247;
$fashionHazelnut:#cfb095;
