/*Food Colors*/

$apple:#76cd26;
$aspargus:#77ab56;
$apricot:#ffb16d;
$aubergine:#3d0734;
$avocado:#87a922;
$banana:#fafe4b;
$butter:#ffff81;
$blueberry:#464196;
$cherry:#cf0234;
$chocolate:#411900;
$cranberry:#9e003a;
$coffee:#a6814c;
$egg:#fffcc4;
$grape:#6c3461;
$kiwi:#8ee53f;
$lemon:#fdff52;
$lime:#bffe28;
$mango:#ffa62b;
$mushroom:#ba9e88;
$mustard:#ceb301;
$mint:#c0fa8b;
$olive:#6e750e;
$orange:#f97306;
$pea:#a4bf20;
$peach:#ffb07c;
$pear:#cbf85f;
$pistachio:#c0fa8b;
$plum:#3f012c;
$raspberry:#b00149;
$saffron:#feb209;
$salmon:#ff796c;
$spearmint:#1ef876;
$squash:#f2ab15;
$strawberry:#fb2943;
$tomato:#ec2d01;
$wheat:#fbdd7e;
$wine:#80013f;
