$red:#f44336;
$pink:#e91e63;
$purple:#9c27b0;
$deepPurple:#673ab7;
$indigo:#3f51b5;
$blue:#2196F3;
$lightBlue:#87CEEB;
$cyan:#00bcd4;
$aqua:#00ffff;
$teal:#009688;
$green:#4CAF50;
$lightGreen:#8bc34a;
$lime:#cddc39;
$sand:#fdf5e6;
$khaki:#f0e68c;
$yellow:#ffeb3b;
$amber:#ffc107;
$orange:#ff9800;
$deepOrange:#ff5722;
$blueGray:#607d8b;
$brown:#795548;
$lightGray:#f1f1f1;
$gray:#bbb;
$darkGray:#616161;
$black:#000;
$paleRed:#ffdddd;
$paleYellow:#ffffcc;
$paleGreen:#ddffdd;
$paleBlue:#ddffff;
$white:#fff;

$redL5:#fef4f3;
$redL4:#fdd9d6;
$redL3:#fbb3ae;
$redL2:#f98d85;
$redL1:#f6665c;
$red00:#f44336;
$redD1:#f32617;
$redD2:#e11a0c;
$redD3:#c5170a;
$redD4:#a91409;
$redD5:#8d1007;
$pinkL5:#fef2f6;
$pinkL4:#fbd2e0;
$pinkL3:#f6a6c1;
$pinkL2:#f279a1;
$pinkL1:#ed4d82;
$pink00:#e91e63;
$pinkD1:#d91557;
$pinkD2:#c1134d;
$pinkD3:#a91143;
$pinkD4:#910e3a;
$pinkD5:#790c30;
$purpleL5:#faf0fc;
$purpleL4:#efcef4;
$purpleL3:#de9eea;
$purpleL2:#ce6ddf;
$purpleL1:#be3dd4;
$purple00:#9c27b0;
$purpleD1:#8c239e;
$purpleD2:#7c1f8d;
$purpleD3:#6d1b7b;
$purpleD4:#5d1769;
$purpleD5:#4e1358;
$deepPurpleL5:#f6f3fb;
$deepPurpleL4:#e0d6f2;
$deepPurpleL3:#c1ade5;
$deepPurpleL2:#a384d8;
$deepPurpleL1:#845bcb;
$deepPurple00:#673ab7;
$deepPurpleD1:#5d34a4;
$deepPurpleD2:#532e92;
$deepPurpleD3:#482880;
$deepPurpleD4:#3e236d;
$deepPurpleD5:#341d5b;
$indigoL5:#f3f4fb;
$indigoL4:#d8dcf1;
$indigoL3:#b1b8e3;
$indigoL2:#8995d6;
$indigoL1:#6271c8;
$indigo00:#3f51b5;
$indigoD1:#3949a3;
$indigoD2:#334191;
$indigoD3:#2d397f;
$indigoD4:#26316d;
$indigoD5:#20295b;
$blueL5:#f2f9fe;
$blueL4:#d2eafd;
$blueL3:#a6d4fa;
$blueL2:#79bff8;
$blueL1:#4daaf6;
$blue00:#2196F3;
$blueD1:#0c87eb;
$blueD2:#0b78d1;
$blueD3:#0a69b7;
$blueD4:#085a9d;
$blueD5:#074b83;
$lightBlueL5:#f8fcfe;
$lightBlueL4:#e7f5fb;
$lightBlueL3:#d0ecf7;
$lightBlueL2:#b8e2f3;
$lightBlueL1:#a1d9ef;
$lightBlue00:#87CEEB;
$lightBlueD1:#69c2e6;
$lightBlueD2:#4ab6e0;
$lightBlueD3:#2aa9db;
$lightBlueD4:#2092bf;
$lightBlueD5:#1b7a9f;
$cyanL5:#edfdff;
$cyanL4:#c4f8ff;
$cyanL3:#89f1ff;
$cyanL2:#4eeaff;
$cyanL1:#12e3ff;
$cyan00:#00bcd4;
$cyanD1:#00aac1;
$cyanD2:#0097ab;
$cyanD3:#008496;
$cyanD4:#007281;
$cyanD5:#005f6b;
$tealL5:#e9fffd;
$tealL4:#b7fff8;
$tealL3:#6efff1;
$tealL2:#26ffe9;
$tealL1:#00dcc6;
$teal00:#009688;
$tealD1:#008578;
$tealD2:#00766a;
$tealD3:#00685d;
$tealD4:#005950;
$tealD5:#004a43;
$greenL5:#f4faf4;
$greenL4:#dbefdc;
$greenL3:#b7dfb8;
$greenL2:#93cf95;
$greenL1:#6ec071;
$green00:#4CAF50;
$greenD1:#459c48;
$greenD2:#3d8b40;
$greenD3:#357a38;
$greenD4:#2e6830;
$greenD5:#265728;
$lightGreenL5:#f8fbf4;
$lightGreenL4:#e8f3db;
$lightGreenL3:#d1e7b7;
$lightGreenL2:#b9db93;
$lightGreenL1:#a2cf6f;
$lightGreen00:#8bc34a;
$lightGreenD1:#7eb63d;
$lightGreenD2:#70a236;
$lightGreenD3:#628e2f;
$lightGreenD4:#547a29;
$lightGreenD5:#466522;
$limeL5:#fcfdf3;
$limeL4:#f5f8d7;
$limeL3:#eaf1af;
$limeL2:#e0ea87;
$limeL1:#d6e35f;
$lime00:#cddc39;
$limeD1:#c1d325;
$limeD2:#acbb21;
$limeD3:#96a41d;
$limeD4:#818c19;
$limeD5:#6b7515;
$khakiL5:#fefef8;
$khakiL4:#fcfae8;
$khakiL3:#f9f5d2;
$khakiL2:#f6f0bb;
$khakiL1:#f3eba5;
$khaki00:#f0e68c;
$khakiD1:#ecdf6c;
$khakiD2:#e8d84a;
$khakiD3:#e3d029;
$khakiD4:#cbb91a;
$khakiD5:#a99b16;
$yellowL5:#fffef3;
$yellowL4:#fffbd8;
$yellowL3:#fff7b1;
$yellowL2:#fff38b;
$yellowL1:#ffef64;
$yellow00:#ffeb3b;
$yellowD1:#ffe81e;
$yellowD2:#fde400;
$yellowD3:#ddc700;
$yellowD4:#beab00;
$yellowD5:#9e8e00;
$amberL5:#fffbf0;
$amberL4:#fff3cd;
$amberL3:#ffe69b;
$amberL2:#ffda69;
$amberL1:#ffcd37;
$amber00:#ffc107;
$amberD1:#eab000;
$amberD2:#d09c00;
$amberD3:#b68900;
$amberD4:#9c7500;
$amberD5:#826200;
$orangeL5:#fff9f0;
$orangeL4:#ffebcc;
$orangeL3:#ffd699;
$orangeL2:#ffc266;
$orangeL1:#ffad33;
$orange00:#ff9800;
$orangeD1:#e68a00;
$orangeD2:#cc7a00;
$orangeD3:#b36b00;
$orangeD4:#995c00;
$orangeD5:#804d00;
$deepOrangeL5:#fff5f2;
$deepOrangeL4:#ffddd3;
$deepOrangeL3:#ffbca7;
$deepOrangeL2:#ff9a7b;
$deepOrangeL1:#ff7850;
$deepOrange00:#ff5722;
$deepOrangeD1:#ff4107;
$deepOrangeD2:#e93600;
$deepOrangeD3:#cb2f00;
$deepOrangeD4:#ae2900;
$deepOrangeD5:#912200;
$blueGrayL5:#f5f7f8;
$blueGrayL4:#dfe5e8;
$blueGrayL3:#becbd2;
$blueGrayL2:#9eb1bb;
$blueGrayL1:#7d97a5;
$blueGray00:#607d8b;
$blueGrayD1:#57707d;
$blueGrayD2:#4d636f;
$blueGrayD3:#435761;
$blueGrayD4:#3a4b53;
$blueGrayD5:#303e45;
$brownL5:#f8f4f3;
$brownL4:#e7dcd7;
$brownL3:#d0b8b0;
$brownL2:#b89588;
$brownL1:#a07261;
$brown00:#795548;
$brownD1:#6d4d41;
$brownD2:#61443a;
$brownD3:#553c33;
$brownD4:#49332c;
$brownD5:#3d2b24;
$grayL5:#f9f9f9;
$grayL4:#ececec;
$grayL3:#d8d8d8;
$grayL2:#c5c5c5;
$grayL1:#b1b1b1;
$gray00:#bbb;
$grayD1:#8e8e8e;
$grayD2:#7e7e7e;
$grayD3:#6f6f6f;
$grayD4:#5f5f5f;
$grayD5:#4f4f4f;
$darkGrayL5:#f6f6f6;
$darkGrayL4:#dfdfdf;
$darkGrayL3:#c0c0c0;
$darkGrayL2:#a0a0a0;
$darkGrayL1:#818181;
$darkGray00:#616161;
$darkGrayD1:#575757;
$darkGrayD2:#4e4e4e;
$darkGrayD3:#444444;
$darkGrayD4:#3a3a3a;
$darkGrayD5:#303030;
$blackL5:#f0f0f0;
$blackL4:#cccccc;
$blackL3:#999999;
$blackL2:#666666;
$blackL1:#333333;
$black00:#000000;
