/*Windows Metro Colors*/

$metroLightGreen:#99b433;
$metroGreen:#00a300;
$metroDarkGreen:#1e7145;
$metroMagenta:#ff0097;
$metroLightPurple:#9f00a7;
$metroPurple:#7e3878;
$metroDarkPurple:#603cba;
$metroDarken:#1d1d1d;
$metroTeal:#00aba9;
$metroLightBlue:#eff4ff;
$metroBlue:#2d89ef;
$metroDarkBlue:#2b5797;
$metroYellow:#ffc40d;
$metroOrange:#e3a21a;
$metroDarkOrange:#da532c;
$metroRed:#ee1111;
$metroDarkRed:#b91d47;
