/*EuropeanSignalColors*/

$signalYellow:#f7ba0b;
$signalOrange:#d4652f;
$signalRed:#a02128;
$signalViolet:#904684;
$signalBlue:#154889;
$signalGreen:#317f43;
$signalGray:#9b9b9b;
$signalBrown:#7b5141;
$signalWhite:#f4f4f4;
$signalBlack:#282828;
