/*Vivid Colors*/

$vividPink:#ffb5bA;
$vividRed:#be0032;
$vividOrange:#f38400;
$vividYellow:#f3c300;
$vividGreen:#008856;
$vividBlue:#00a1c2;
$vividBlack:#000;
$vividWhite:#fff;
$vividPurple:#9a4eae;
$vividYellowishPink:#ffb7a5;
$vividYeddishOrange:#e25822;
$vividOrangeYellow:#f6a600;
$vividGreenishYellow:#dcd300;
$vividYellowGreen:#8db600;
$vividYellowishGreen:#27a64c;
$vividBluishGreen:#008882;
$vividGreenishBlue:#0085a1;
$vividPurplishBlue:#30267a;
$vividReddishPurple:#870074;
$vividPurplishRed:#ce4676;
