/*Windows phone 8*/

$winLime:#a4c400;
$winGreen:#60a917;
$winEmerald:#008a00;
$winTeal:#00aba9;
$winCyan:#1ba1e2;
$winBlue:#3e65ff;
$winCobalt:#0050ef;
$winIndigo:#6a00ff;
$winViolet:#aa00ff;
$winPink:#f472d0;
$winMagenta:#d80073;
$winCrimson:#a20025;
$winRed:#e51400;
$winOrange:#fa6800;
$winAmber:#f0a30a;
$winYellow:#e3c800;
$winBrown:#825a2c;
$winOlive:#6d8764;
$winSteel:#647687;
$winMauve:#76608a;
$winTaupe:#87794e;
$winSienna:#a0522d;
