.disabled {
  cursor: not-allowed;
  opacity: 0.3;
  & * {
    pointer-events: none;
  }
}

:disabled * {
  pointer-events: none;
}

.button.disabled:hover {
  box-shadow: none;
}

.button:disabled:hover {
  box-shadow: none;
}
