.margin {
  margin: 16px!important;
  &Top{
    margin-top: 16px!important;
  }
  &Bottom{
    margin-bottom: 16px!important;
  }
  &Left{
    margin-left: 16px!important;
  }
  &Right{
    margin-right: 16px!important;
  }

}
